/* line 4, ../sass/modal.scss */
#modal_window {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  width: 600px;
  height: 500px;
  margin: 0;
  background-color: #ddd;
  position: fixed;
  display: none;
  z-index: 2;
}

/* line 15, ../sass/modal.scss */
#modal_overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 26, ../sass/modal.scss */
.button_link:hover {
  cursor: pointer;
}

/* line 30, ../sass/modal.scss */
#modal_title_bar {
  height: 30px;
  width: 100%;
  background-color: #999;
  text-align: center;
}

/* line 38, ../sass/modal.scss */
#modal_title {
  float: left;
  padding: 5px 0 0 0;
  width: 520px;
  line-height: 25px;
  font-size: 1.2em;
}

/* line 46, ../sass/modal.scss */
#modal_content {
  margin: 20px;
}
/* line 48, ../sass/modal.scss */
#modal_content p {
  margin: 1em 0 0 0;
}

/* line 54, ../sass/modal.scss */
.inputBox {
  width: 16em;
  font-size: 1.2em;
}

/* line 60, ../sass/modal.scss */
textarea {
  width: 500px;
  resize: none;
}

/* line 65, ../sass/modal.scss */
#close_botton {
  background-color: #777;
  float: right;
  width: 80px;
  height: 100%;
}

/* line 72, ../sass/modal.scss */
#close {
  width: 20px;
  height: 4px;
  margin: 13px auto 0 auto;
  background-color: #444;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* line 84, ../sass/modal.scss */
#close:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
