@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Han Sans';
  src: url("../SourceHanSansJP-Light.woff") format("woff");
}

/* line 15, D:/GoogleDrive/html/procon/sass/screen.scss */
html {
  height: 100%;
}

/* line 19, D:/GoogleDrive/html/procon/sass/screen.scss */
body {
  font-family: 'Han Sans';
  background-image: url("../images/bg.jpg");
  height: 100%;
  padding: 0;
  margin: 0;
}

/* clearfix */
/* line 29, D:/GoogleDrive/html/procon/sass/screen.scss */
.cf {
  width: 100%;
}
/* line 31, D:/GoogleDrive/html/procon/sass/screen.scss */
.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* line 38, D:/GoogleDrive/html/procon/sass/screen.scss */
textarea {
  resize: none;
}

/* line 42, D:/GoogleDrive/html/procon/sass/screen.scss */
#top_title {
  background-image: url("../images/top_title.jpg");
  width: 776px;
  margin: 10px auto 0 auto;
  padding: 5px 15px 0 15px;
  box-shadow: 0px 0px 5px;
}
/* line 49, D:/GoogleDrive/html/procon/sass/screen.scss */
#top_title > h1 {
  font-family: 'Vollkorn', serif;
  margin: 10px auto;
  font-size: 32px;
  font-weight: normal;
}
/* line 56, D:/GoogleDrive/html/procon/sass/screen.scss */
#top_title > #c1 {
  margin-left: 1em;
}
/* line 59, D:/GoogleDrive/html/procon/sass/screen.scss */
#top_title > #c2 {
  margin-left: 2.5em;
}
/* line 62, D:/GoogleDrive/html/procon/sass/screen.scss */
#top_title > #c3 {
  margin-left: 5em;
}

/* line 67, D:/GoogleDrive/html/procon/sass/screen.scss */
#information {
  font-size: 1.2em;
}

/* line 72, D:/GoogleDrive/html/procon/sass/screen.scss */
#contest_title {
  font-family: 'Vollkorn', serif;
  position: relative;
  height: 30px;
  margin: 10px 0 20px -30px;
  padding: 5px 0 5px 30px;
  font-size: 1.5em;
  background-color: #777;
}
/* line 80, D:/GoogleDrive/html/procon/sass/screen.scss */
#contest_title:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  height: 0px;
  width: 0px;
  border: 5px solid transparent;
  border-top: solid 5px #444;
  border-right: solid 5px #444;
}

/* line 93, D:/GoogleDrive/html/procon/sass/screen.scss */
#header_navi_wrapper {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #333333;
}

/* line 104, D:/GoogleDrive/html/procon/sass/screen.scss */
#header_navi {
  width: 840px;
  margin: 0 auto;
}

/* line 109, D:/GoogleDrive/html/procon/sass/screen.scss */
#header_navi_title {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 1.6em;
  margin: 8px auto;
  font-weight: normal;
}

/* line 118, D:/GoogleDrive/html/procon/sass/screen.scss */
.pro {
  float: right;
  margin: 12px 0 12px auto;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #ffffff;
  height: 20px;
}

/* line 128, D:/GoogleDrive/html/procon/sass/screen.scss */
.prob {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  float: right;
  height: 20px;
  width: 60px;
  margin: 12px 0px 5px auto;
  padding: 0px 2px 0px 2px;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
}
/* line 139, D:/GoogleDrive/html/procon/sass/screen.scss */
.prob a {
  display: block;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

/* line 149, D:/GoogleDrive/html/procon/sass/screen.scss */
#footer_wrapper {
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #333333;
}

/* line 162, D:/GoogleDrive/html/procon/sass/screen.scss */
#footer {
  font-family: 'Vollkorn', serif;
  float: right;
  color: #ffffff;
  font-size: 32px;
  line-height: 1;
  margin: 7px 0 15px auto;
}

/* line 171, D:/GoogleDrive/html/procon/sass/screen.scss */
#footer_time {
  font-family: 'Noticia Text', serif;
  float: left;
  color: white;
  font-size: 35px;
  line-height: 1;
  margin: 3px auto 15px 0;
}

/* line 180, D:/GoogleDrive/html/procon/sass/screen.scss */
#head_margin {
  height: 40px;
  width: 100%;
}

/* line 187, D:/GoogleDrive/html/procon/sass/screen.scss */
#pageinfo {
  width: 770px;
  height: 80px;
  margin: 15px auto 0 auto;
  background-color: #DDD;
  padding: 0 15px;
  box-shadow: 0px 0px 5px;
  border-style: solid;
  border-color: #DDD;
}
/* line 198, D:/GoogleDrive/html/procon/sass/screen.scss */
#pageinfo > #title {
  font-family: 'Vollkorn', serif;
  height: 40px;
  font-size: 28px;
  margin: 8px 0 0 0;
  border-bottom: #999 solid 2px;
  font-weight: normal;
}
/* line 206, D:/GoogleDrive/html/procon/sass/screen.scss */
#pageinfo > #limit {
  font-family: 'Noticia Text', serif;
  margin: 2px 0 0 5px;
  color: #DF0000;
  font-size: 17px;
}

/* line 215, D:/GoogleDrive/html/procon/sass/screen.scss */
#base {
  width: 770px;
  background-color: white;
  margin: 15px auto;
  padding: 0 15px 1px 15px;
  box-shadow: 0px 0px 5px;
  border-style: solid;
  border-color: #ffffff;
}
/* line 226, D:/GoogleDrive/html/procon/sass/screen.scss */
#base h3 {
  font-family: 'Vollkorn', serif;
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 232, D:/GoogleDrive/html/procon/sass/screen.scss */
#base h4 {
  margin: 0;
}

/* line 237, D:/GoogleDrive/html/procon/sass/screen.scss */
.base-w {
  height: 100px;
  width: 95%;
  font-size: 100px;
  color: white;
  text-align: center;
  margin: 75px auto 75px auto;
  padding: auto auto auto auto;
  font-family: serif;
}

/* line 249, D:/GoogleDrive/html/procon/sass/screen.scss */
.sentence {
  padding: 0 0 0 10px;
  margin: 1em 0px;
  border-left: solid 4px #CCC;
}

/* line 255, D:/GoogleDrive/html/procon/sass/screen.scss */
.sample {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  padding: 5px 10px;
  margin: 2px 5px 10px 5px;
  border: solid 2px #777;
  background-color: #CCC;
}

/* line 263, D:/GoogleDrive/html/procon/sass/screen.scss */
.image {
  text-align: center;
  width: 550px;
}

/* line 268, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 {
  margin: 10px;
  width: 750px;
  border: none;
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  border-collapse: separate;
  border-spacing: 0 10px;
  background: #f5f5f5;
}
/* line 277, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 a {
  color: black;
  text-decoration: underline;
}
/* line 280, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 a:hover {
  color: #991212;
  font-style: normal;
  text-decoration: underline;
}
/* line 287, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 th {
  vertical-align: middle;
  height: 20px;
  width: 50px;
  border-right: solid 1px #222;
  margin: 0;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
/* line 298, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 td.data {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 100px;
  border: none;
  color: #222;
  font-size: 12px;
  text-indent: 1em;
  line-height: 16px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
/* line 312, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 td:fst-child {
  padding: 0 0 0 10px;
  vertical-align: middle;
}
/* line 317, D:/GoogleDrive/html/procon/sass/screen.scss */
table.brwsr2 td.bar {
  height: 1px;
  width: 100%;
  border-top: solid 1px #34495e;
}
